.left-nav {
    @include gradient($quaternary, $quinary, vertical);
    @include border-radius-custom(0, 24px,0, 24px);
    height: 100%;
    padding: spacing(40) 0;
    overflow-y: auto;
    width: 100%;

    &-wraper{
      position: fixed;
      left: -260px;
      top: 67px;
      z-index: 11;
      transition: all .3s ease;
      width: 260px;
      height: 100vh;
      @include media-breakpoint-up(md){
        
        left: 0px;
      }
    }

    &:hover, &.nav__open{
      left: 0;
      .left-nav__link{
        flex-direction: row;
      }
    }
    &__item {
      padding: spacing(15) spacing(30);
      position: relative;
      margin-bottom: 15px;
      transition: all .3s ease;
      &:after{
        content: "";
        position:absolute;
        top:0;
        left:0;
        width: 0;
        height: 100%;
        @include gradient(rgba($black,.8), rgba($black,0), horizontal);
        transition: all .3s ease;
        box-shadow: inset 13px 0 11px 0 rgba(0, 0, 0, 0.34);
      }
      &::before {
        content: "";
        height: 0;
        @include border-radius-custom(0, 12px,0, 12px);
        @include gradient($secondary, $tertiary, vertical);
        width: 10px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 99;
        transition: all .3s ease;
      }
      &:hover{
        font-family: $fontSemiBold;
        &:after{
          width:100%
        }
        &::before {
          height: 100%;
        }
      }
    }
    &__link {
      text-decoration: none;
      display: flex;
      align-items: center;
      z-index: 99;
      position: relative;
      flex-direction: row;
    }
    &__icon {
    }
    &__text {
      color: $white;
      @include font-size(13);
      margin: 0 15px;
    }
    &__active {
    }

    &--bottom-nav{
      li{
        padding: 10px spacing(30);
        &.logout{
          margin-top: 60px;
        }
      }
      .link {
        color: $white;
        @include font-size(14);
        @include opacity(.8);
        text-decoration:  none;

        
      }
    }

  }
  .backdrop {
    display: none;
    background: rgba( $black,.50);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
  }