.figure {
    margin-bottom: 20px;
    &--horizontal {
        display: flex;
        flex-direction: row;
        align-items: flex-start;

        &__image {
            width: 96px;
            height: 96px;
            @include border-radius(12px);
            object-fit: cover;
        }
        &__figcaption {
            margin-left: 20px;
        }
    }

    &__title {

    }

    &__sub-title {
        color: $gray2;
    }

    &--center {
        align-items: center;
    }

}
