.meeting-products {
    
    &__count {
        @include font-size(14);
        color: $black;
    }

    &__images {
       display: flex;
       flex-direction: row;
       align-items: center;
       justify-content: flex-start;
       margin-top:10px;

    }
    &__items {
        list-style-type: none;
        @include border-radius(12px);
        overflow: hidden;
        position: relative;
        width: 80px;
        height: 80px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
       
        &:not(:first-child){
            margin-left: 15px;
        }
        &--text {
            color: $gray2;
            @include font-size(16);
            align-items: center;
            display: flex;
        }
    }
    &__item-count {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: rgba($white, .5);
        display: flex;
        align-items: center;
        justify-content: center;
    }

}