.meeting-details {
    &--title {
        @include font-size(14);
        margin-bottom: 10px;
    }

    &--value {
        @include font-size(24);
        font-family: $fontSemiBold;
        color: $black;
        margin-bottom: 10px;

        &-text {
            font-family: $fontReg;
            @include font-size(16);

            .icon-flame {
                color: $flame
            }
        }
    }

    &--date {
         @include font-size(12);
    }

    .btn.btn__flat {
        @include font-size(25);
    }
    
}


