.upload-wrapper{
    position: relative;
    overflow: hidden;
    &::after {
        position: absolute;
        content: '';
        height: 160%;
        background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.01) 70%, rgba(0,0,0,0.05)95%);
        left: 0%;
        right: 0;
        bottom: 35%;
        border-radius: 70%;
        width: 100%;
    }

    img{
        max-width: 300px;
    }

    .loading-animation-wrapper {
        display: inline-flex;
        padding: 20px;
        margin: 3rem auto;
    }

    .animate{
        position: relative;
        &::after{
            position: absolute;
            content: '';
            border: 4px dotted #666;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            border-radius: 50%;
            animation: loading  20s linear infinite;
        }
    }
}



@keyframes loading{
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
  }