$blueDianne: #213c51 !default;
$bondiBlue: #0699af !default;
$Keppel: #39a29e !default;
$sanMarino: #3e6da5 !default;
$blueZodiac: #0e2342 !default;
$black: #000000 !default;
$gray1: #444444 !default;
$gray2:#666666 !default;
$gray3:#989898 !default;
$gray4:#f5f5f5 !default;
$buttonFocus: #102646 !default;
$flame: #e76f51 !default;

$white: #FFFFFF !default;
$hummingBird:#e2f2fb;
$bodyBg: #f5f7fa;
$borderColor: #979797;
$flatDarkBtn:#132a4c;
$summeryBg: #173256;
$stock-table-heder: #d8d8d8;
$progressBarAmber: #ffab58;
$progressBarRed: #ff5858;
$progressBarGreen: #3bb164;

$colors:(
      "blueDianne":     $blueDianne,
      "bondiBlue":      $bondiBlue,
      "Keppel":         $Keppel,
      "sanMarino":      $sanMarino,
      "blueZodiac":     $blueZodiac,
      "black":          $black,
      "gray1":          $gray1,
      "gray2":          $gray2,
      "white":          $white,
      "hummingBird":    $hummingBird
)!default;

$primary: $blueDianne;
$secondary: $bondiBlue; 
$tertiary: $Keppel;
$quaternary: $sanMarino;
$quinary: $blueZodiac;
$buttonLight: $hummingBird;

// colors end here


// fonts start here

$font-path: 'webfonts';

$fontReg: 'Heebo-regular';
$fontMed: 'Heebo-medium';
$fontSemiBold: 'Heebo-600';
$fontBold: 'Heebo-bold';

$headings-color: $black;
$base-font-size: 3;
$heading-scale: 8; 

// fonts end here


$button-radius1: 1.2rem;
$button-radius2: 2.4rem;
$button-border: $primary;